$body-color: #8cf;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: $body-color;
  position: relative;
}

header {
  height: 50px;
  margin: 30px 20px;

  .searchbar {
    position: relative;
  }

  input {
    height: 40px;
    padding: 10px;
    padding-left: 32px;
    border: none;
    border-radius: 20px;
    background: #ddd;
    font-size: 16px;
  }

  i {
    position: absolute;
    top: -10px;
    left: -2px;
    padding: 10px 0;
    padding-left: 10px;
    padding-right: 6px;
  }
}

.error-text {
  margin-right: 30px;
  right: 20px;
  line-height: 35px;
  width: 300px;
}

.app-wrapper {
  font-family: 'Courier New', Courier, monospace;
  color: #111;
  position: absolute;
  top: 130px;
  left: 20px;

  & > h4:not(h4:first-child) {
    position: relative;
    margin: 10px 10px;
  }

  h4:not(h4:first-child), h4::before {
    animation-name: comefromleft;
    animation-duration: 0.25s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  // For animation functionality in Chrome
  .weather,
  .temp,
  .feelsLike,
  .humidity,
  .wind {
    position: relative;
    animation-name: comefromleft;
    animation-duration: 0.25s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

.name {
  position: absolute;
  top: -50px;
  font-size: 26px;
  animation-name: comefromleft;
  animation-duration: .2s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.weather,
.weather::before {
  animation-delay: 0.1s;
}
.temp,
.temp::before {
  animation-delay: 0.2s;
}
.feelsLike,
.feelsLike::before {
  animation-delay: 0.3s;
}
.humidity,
.humidity::before {
  animation-delay: 0.45s;
}
.wind,
.wind::before {
  animation-delay: 0.55s;
}

.temp::before {
  content: "temp:";
  margin-right: 8px;
}
.feelsLike::before {
  content: "feels like:";
  margin-right: 8px;
}
.humidity::before {
  content: "humidity:";
  margin-right: 8px;
}
.wind::before {
  content: "wind speed:";
  margin-right: 8px;
}
.temp::after,
.feelsLike::after {
  content: "°f";
}
.humidity::after {
  content: "%";
}
.wind::after {
  content: " mph";
}

.bg-img {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 50%;
  height: 350px;
}

.cloudy {
  animation: moveacross 20.0s linear 0s infinite normal none;
}

@keyframes moveacross {
  from {
    margin-left: -270px;
  }
  to {
    margin-left: 100%;
  }
}

.sunny {
  animation: none 20.0s linear 0s infinite normal none;
}

@keyframes comefromleft {
  from {
    left: -180px;
  }
  to {
    left: 10px;
  }
}
